body{
    font-family: Arial;
    margin: 0;
}
nav{
    background: #ff5353;
    padding: 20px 10px;
}
nav ul{
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}
nav li{
   list-style-type: none;
   display: inline-block;
   margin: 0 10px 0;
}
nav ul li {
   
    /* opacity: .4;  */
    border-radius: 25px;
    background: beige;
    height: 40px;
    width: 15%;
    text-align: center;
}
nav a{
    color: #ff5353;
    font-size: 18px;
    background: rgba(255, 255, 255, 0, 2);
    text-decoration: none;
    padding: 10px;
    display: block;
}
main, header{
    max-width: 960px;
    margin: 30px auto;
    padding: 0 10px;
    color: #333;
}
.google-btn{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background: #ff5353;
}